[submodule ".config/bashrc/pkg/sizeof-pl"]
	path = .config/bashrc/pkg/sizeof-pl
	url = https://github.com/Skarlett/sizeof-pl
[submodule "/home/ghost/.config/bashrc/pkg/dedup"]
	path = /home/ghost/.config/bashrc/pkg/dedup
	url = https://github.com/jpillora/dedup
[submodule "/home/ghost/.config/bashrc/pkg/Bash-snippets"]
	path = /home/ghost/.config/bashrc/pkg/Bash-snippets
	url = https://github.com/alexanderepstein/Bash-Snippets
